body {
    background-color: #BDBDBD;
    margin: 0
}
div {
    box-sizing: border-box;
}
Header {
    background-color: white;
    padding: 10px;
}
header h1 {
    margin: 0
}
div.container {
    width: 600px;
    margin: auto;
}
div.post {
    background-color: white;
    margin-top: 50px;
}
div.post h2, div.post p, div.post span{
    margin: 0;
    padding: 10px;
}
div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child {
    display: inline-block;
    width: 20%;
    text-align: right;
    color: grey;
}
div.post img {
    width: 100%;
}